.label {
  font-size: 10px;
  margin-bottom: 5px;
  text-transform: uppercase;
  font-weight: bold;
}

.label--secondary {
  color: #7F8FA4;
}

.label--topbar {
  color: #7F8FA4;
  text-transform: none;
  margin-bottom: 0;
  margin-top: 5px;
}
